body {
    font-family: "Menlo", monospace;
    background-color: aliceblue;
    margin: 0;
}

.no-button {
    background: none;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

.offline-info {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: black;
    color: white;
    padding: 5px;
    z-index: 1;
}

main {
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.show-form input {
    font-family: inherit;
    font-size: inherit;
    padding: 4px 4px;
    border: 2px dotted dodgerblue;
}

.show-form label > span {
    display: block;
}

.show-form button {
    padding: 4px 8px;
    border: 2px dotted dodgerblue;
}

.show-form button:hover,
.show-form button:focus {
    background-color: midnightblue;
    color: white;
}

.show-form button:active {
    background-color: saddlebrown;
    color: white;
}

.show-results-container {
    max-width: 800px;
}

.show-container {
    margin: 10px auto 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    position: relative;
}

.show-container + .show-container::before {
    display: block;
    content: "";
    width: 30px;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    border-top: 6px dotted dodgerblue;
}

.show-container h2 {
    margin: 0;
}

.show-container img {
    flex-shrink: 0;
    display: inline-block;
    width: 150px;
    height: 200px;
    object-fit: cover;
    margin-left: 10px;
}

.show-description {
    max-height: 500px;
    overflow-y: auto;
}

.searched-shows__title {
    margin: 0;
}

.searched-shows__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 10px 0 20px;
}

.searched-shows__list-item:not(:last-child) {
    margin-bottom: 12px;
    margin-right: 10px;
}

.searched-shows__list-item > button {
    padding: 4px 8px;
    background: white;
    border-radius: 999em;
    border: 2px solid dodgerblue;
    color: dodgerblue;
    transition: background-color 80ms ease-in-out;
    font-size: 0.8rem;
}

.searched-shows__list-item > button:hover,
.searched-shows__list-item > button:focus {
    background: dodgerblue;
    color: white;
}

.searched-shows__list-item > button:active {
    background: midnightblue;
}

.clear-button {
    font-family: inherit;
    font-size: inherit;
    border: none;
    background-color: black;
    color: white;
    border-radius: 50%;
}

@media only screen and (max-width: 600px) {
    main {
        border-radius: 6px;
        border: 10px solid dodgerblue;
    }

    .show-container {
        flex-direction: column;
        align-items: center;
    }

    .show-container img {
        order: -1;
        margin: 10px;
    }
}